# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
downloads/

# Poetry virtual environment
poetry.lock

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/

# Pytest
.cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm coverage reports
.pytest_cache/

# macOS
.DS_Store
